<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.lance.platform.dao.mapper.ShiroUserMapper">

    <select id="getUserLoginVO" resultType="pers.lance.platform.bean.vo.UserLoginVO">
        select t.*,sr.code roleName,sr.name roleName
        from shiro_user t
        join r_user_role rur on t.id=rur.user_id
        join shiro_role sr on rur.role_id=sr.id
        where t.id = #{id}
    </select>

    <select id="listRoleVO" resultType="pers.lance.platform.bean.vo.ShiroRoleVO">
         select r.*
         from shiro_role r,r_user_role ur
         where ur.user_id = #{userId}
         and r.id = ur.role_id
     </select>

    <select id="listShiroPermissionVO" resultType="pers.lance.platform.bean.vo.ShiroPermissionVO">
         select p.*
         from shiro_role r
         join r_role_permission rp on r.id = rp.role_id
         join shiro_permission p on rp.permission_id =p.id
         where r.id = #{roleId}
         and p.type = #{type}
     </select>

</mapper>
